@using RecordStore.Domain.Identity
@using Microsoft.AspNetCore.Identity
@inject SignInManager<RecordStoreApplicationUser> SignInManager
@inject UserManager<RecordStoreApplicationUser> UserManager

<style>
    .interactive-btn {
        transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    }

    .interactive-btn:hover {
        transform: translateY(-3px);
    }
</style>

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark interactive-btn" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark interactive-btn">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark interactive-btn" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark interactive-btn" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>